.the7-brand-logos:not(.loading-effect-none) .dt-css-grid .wf-cell {
  opacity: 1;
}
.the7-brand-logos .wf-cell {
  position: relative;
  min-width: 0;
  display: flex
;
}
.the7-brand-logos .the7-brand-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  transition: all 300ms ease;
}
.the7-brand-logos .the7-brand-content {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
}
.the7-brand-logos .product-name {
  color: var(--the7-h5-color);
  display: inline-flex;
  text-decoration: inherit;
  transition: all 300ms ease;
  margin-bottom: 0 !important;
}
.the7-brand-logos .product-name:hover,
.the7-brand-logos a.wf-cell:hover .product-name {
  color: var(--the7-h5-color);
}
.the7-brand-logos .short-description {
  font: var(--the7-base-font);
  letter-spacing: var(--the7-base-letter-spacing);
  text-transform: var(--the7-base-text-transform);
  text-decoration: var(--the7-base-text-decoration);
  color: var(--the7-base-color);
  margin-bottom: 0;
  margin-top: 10px;
  transition: all 0.3s ease;
}
.the7-brand-logos.desc-to-line .short-description {
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.the7-brand-logos .product-details:hover,
.the7-brand-logos a.wf-cell:hover .product-details {
  color: var(--the7-btn-hover-color);
  border-color: var(--the7-btn-border-hover-color);
  background: var(--the7-btn-hover-bg-color);
}
.the7-brand-logos .heading {
  margin-bottom: 0;
  line-height: 0;
  max-width: 100%;
  font: var(--the7-h5-font);
  text-transform: var(--the7-h5-text-transform);
}
.the7-brand-logos.title-to-line .heading {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.the7-brand-logos .post-thumbnail-rollover img {
  transition: all 0.3s ease;
}
.paginator a.button-load-more {
  width: auto;
  height: auto;
}
.paginator a.button-load-more i {
  line-height: inherit;
  font-size: inherit;
}
.paginator .disabled {
  display: none;
}
.elementor-widget.elementor-widget-the7-woocommerce-brand-logos .paginator {
  --filter-title-color-normal: var(--the7-title-color);
  --filter-title-color-hover: var(--the7-title-color);
  --filter-title-color-active: var(--the7-title-color);
  --filter-pointer-border-width: 2px;
  --filter-pointer-bg-radius: var(--the7-general-border-radius);
  --filter-pointer-bg-color-active: var(--the7-accent-color);
  --filter-pointer-bg-color-hover: var(--the7-accent-color);
  line-height: var(--the7-text-big-line-height);
  font-size: var(--the7-text-big-font-size);
  font-weight: normal;
  line-height: 1;
}
.elementor-widget.elementor-widget-the7-woocommerce-brand-logos .paginator .button-load-more {
  line-height: 1;
}
.elementor-widget.elementor-widget-the7-woocommerce-brand-logos .paginator .button-load-more .button-caption {
  font-weight: inherit;
}
.elementor-widget.elementor-widget-the7-woocommerce-brand-logos .paginator .button-load-more i:first-child {
  margin: 0 5px 0 0;
}
.elementor-widget.elementor-widget-the7-woocommerce-brand-logos .paginator .button-load-more i:last-child {
  margin: 0 0 0 5px;
}
.elementor-widget.elementor-widget-the7-woocommerce-brand-logos .paginator a {
  font-weight: normal;
  margin: 0 5px;
  padding: 5px 10px;
}
.the7-brand-logos .entry-meta {
  font-family: var(--the7-base-font-family);
  font-size: var(--the7-text-small-font-size);
  line-height: var(--the7-text-small-line-height);
  font-weight: var(--the7-base-font-weight);
  font-style: var(--the7-base-font-style);
  margin-top: 5px;
  transition: all 0.3s ease;
}
